body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}


button{
    padding: 19px;
    border-radius: 20px;
    background: orange;
    border: none;
    cursor: pointer;
}